#hero-16-uj8bljdBwY {
    background-image: url(assets/images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-x: -180px; */
}

.cid-uj8bljdBwY .mbr-section-title {
    color: #ffffff !important;
    font-size: 4rem;
    /* text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff; */
}

#hero-p {
    line-height: 1.4;
    font-size: 1.2rem !important;
}

.fvui75 {
    /* border-bottom: 2px solid #fe6a0d ; */
    position: relative;
}


.fvui75:after {
    content: "";
    background: #fe6a0d;
    position: absolute;
    bottom:24px;
    left: -18px;
    height: 70%;
    width: 6px;
  }



.display-5 {
    font-size: 1.4rem !important;
    line-height: 1.24 !important;
}

.display-7 {
    font-size: 1.124rem !important;
}

#btn-style {
    align-items: flex-start;
}

#btn-style .btn {
    padding: 0.6rem 2.4rem !important;

}

div.para-txt p {

    line-height: 1.6 !important;
}


.change-left {
    flex-direction: column-reverse;
}


.cid-uj8blje2Qz img,
.cid-uj8blje2Qz .item-img {
    height: 280px !important;
    border-radius: 12px !important;
}


body {
    background-color: #fe6a0d !important;
}

.cid-uj8bljhbyN .card-wrapper {
    background: #fff !important;
}

.cid-uj8bljhbyN {
    background-image: url('/assets/images/fff523dab0\ \(1\).jpg') !important;
}

@media screen and (max-width: 600px) {
    #hero-16-uj8bljdBwY {
        background-position-x: -180px !important;
    }

    #hero-p, #dis-non {
        display: none;
    }

    .cid-uj8bljdBwY .mbr-section-title{
        line-height: 1.2;
        font-size: 2.4rem;
    }
}