#hero-16-uj8bljdBwY {
    background-image: url(assets/images/bg-grey.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-x: -180px; */
}

#cwqdqwsqw {
    background-image: url(assets/images/16938242456_caac94287f_3k.jpeg);
    /* filter: grayscale(100%); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.cid-uj8bljdBwY .mbr-section-title {
    color: #ffffff !important;
    font-size: 4rem;

}


#hero-p {
    line-height: 1.4;
    font-size: 1.2rem !important;
}

.fvui75 {
    /* border-bottom: 2px solid #fe6a0d ; */
    position: relative;
}


.fvui75:after {
    content: "";
    background: #fe6a0d;
    position: absolute;
    bottom: 24px;
    left: -18px;
    height: 70%;
    width: 6px;
}

#call-to-action-1-uj8bljhbyN{
    margin-top: 120px;
}



.display-5 {
    font-size: 1.4rem !important;
    line-height: 1.24 !important;
}

.display-7 {
    font-size: 1.124rem !important;
}

#btn-style {
    align-items: flex-start;
}

#btn-style .btn {
    padding: 0.6rem 2.4rem !important;

}

img:not(.spec) {
    filter: grayscale(100%) !important;
}


#hero-16-uj8bljdBwY * h1> :not(.spec) {
    color: #fe6a0d !important;
}

div.para-txt p {

    line-height: 1.6 !important;
}

.para-txt>div {
    border: 2px solid #fe6a0d;
    border-radius: 24px;
    padding: 34px 22px;
    /* box-shadow: 4px 4px 5px gray; */
    box-shadow: rgba(227, 227, 227, 0.729) 5px 5px, 5px 5px;
}

.para-txt {
    gap: 12px;
}


.change-left {
    flex-direction: column-reverse;
}

.space {
    padding: 60px 0;
}


.cid-uj8blje2Qz img,
.cid-uj8blje2Qz .item-img {
    /* height: 280px !important; */
    /* border-radius: 12px !important; */
}

.bg-instagram,
.bg-facebook {
    background-color: #000 !important;
}


body {
    /* background-color: #fe690da6 !important; */
}

.cid-uj8bljhbyN .card-wrapper {
    background: #fff !important;
}

.aboutus-bottom {
    border-radius: 0 0 140px 140px !important;
    min-height: 90dvh !important;
}

.cid-uj8bljhbyN {
    background-image: url('/assets/images/fff523dab0\ \(1\).jpg') !important;
}

.desclaer {
    /* background-color: #fff; */
    color: #fff;
    line-height: 1.45;
    letter-spacing: 1.7;
    font-size: 14px;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}



@media screen and (max-width: 600px) {
    #hero-16-uj8bljdBwY {
        background-position-x: -180px !important;
    }

    #hero-p,
    #dis-non {
        display: none;
    }

    .cid-uj8bljdBwY .mbr-section-title {
        line-height: 1.2;
        font-size: 2.4rem;
    }

    .aboutus-bottom {
        border-radius: 0 0 40px 40px !important;
        min-height: 80vh !important;
    }
}