#hero-16-uj8bljdBwY {
    background-image: url(assets/images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position-x: -180px; */
}

.cid-uj8bljdBwY .mbr-section-title {
    color: #ffffff !important;
    font-size: 7rem;
    /* text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff; */
}



.display-5 {
    font-size: 1.4rem !important;
    line-height: 1.24 !important;
}

.display-7 {
    font-size: 1.124rem !important;
}

#btn-style {
    align-items: flex-end;
}

#btn-style .btn {
    padding: 0.6rem 2.4rem !important;

}

.cid-uj8blje2Qz img,
.cid-uj8blje2Qz .item-img {
    height: 280px !important;
    border-radius: 12px !important;
}


body {
    background-color: #fe6a0d !important;
}

.cid-uj8bljhbyN .card-wrapper {
    background: #fff !important;
}

.cid-uj8bljhbyN {
    background-image: url('https://r.mobirisesite.com/576387/assets/images/photo-1582307811683-75b18a39ab71.jpeg') !important;
}

@media screen and (max-width: 600px) {
    #hero-16-uj8bljdBwY {
        background-position-x: -180px !important;
    }
}