/* Custom Styles for the Cards */
.custom-card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    color: white;
    height: 100%;
}

.custom-card:hover {
    transform: translateY(-10px);
}

.card-icon {
    font-size: 50px;
    color: white;
}

.card-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Stronger pastel variations */
.card-1,
.card-2,
.card-3,
.card-4 {
    background-color: #ff7043;
    /* Stronger pastel orange */
}

.card-1:hover,
.card-2:hover,
.card-3:hover,
.card-4:hover {
    background-color: #f77e5a;
}

/* .card-2 {
    background-color: #ff8a65; 
}

.card-3 {
    background-color: #ffab91; 
}

.card-4 {
    background-color: #ffccbc; 
} */

p {
    margin-bottom: 0;
    font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 1440px) {
    .custom-card {
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .custom-card {
        padding: 3rem;
    }

    .card-icon {
        font-size: 40px;
    }

    .card-heading {
        font-size: 1.25rem;
    }

    p {
        font-size: 0.9rem;
    }
}